.header {
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../assets/img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}