.hero {
    position: relative;
    height: 300px;
    &__bg {
        width: 30%;
        height: 100%;
        z-index: -999;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('../../assets/img/header.jpg');
        background-size: cover;
        background-position: left;
    }
    &__text {
        width: 70%;
        padding: 0 0.5rem;
    }
}
