.hero {
  position: relative;
  height: 85vh;
  margin-bottom: 2rem;

  &__bg {
    width: 30%;
    height: 100%;
    z-index: -999;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../assets/img/header.jpg");
    background-size: cover;
    background-position: left;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    max-width: 70%;
    word-wrap: break-word;
    margin: 0;
    padding: 2rem 1rem;
    color: #333;
  }
}

@media only screen and(max-width: 567px) {
  &__text {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
  }
  .hero {
    height: 50vh;
    &__content {
      justify-content: flex-start;
    }
  }
}
