@import "../../../styles/app.scss";
.label {
  color: $color-gray-dark;
  transform: translateY(-4rem);
  transition: all 0.2s ease;
  opacity: 1;
  visibility: visible;
}
.loginLabel {
  composes: label;
  margin-left: 15.333%;
}

.validation {
  display: block;
  margin: -2rem 0 1.8rem 0.5rem;
}

input:placeholder-shown + .label {
  transform: translateY(-2rem);
  opacity: 0;
  visibility: hidden;
}
