@import '../../../styles/app.scss';
.label {
    color: #6c757d;
    transform: translateY(-4rem);
    transition: all 0.2s ease;
    opacity: 1;
    visibility: visible;
}
.loginLabel {
    composes: label;
    margin-left: 15.333%;
}

.field {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px #ced4da;
    &:focus {
        box-shadow: 1px 1px 5px #ced4da;
        border: none;
    }
}
.validation {
    display: block;
    margin: -2rem 0 1.8rem 0.5rem;
}

.field:placeholder-shown + .label {
    transform: translateY(-2rem);
    opacity: 0;
    visibility: hidden;
}
