.signup {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
  background-image: linear-gradient(to top, #fff, #ccd4e9, #fff);
}

.container {
  width: 100%;
  padding: 2rem;
  background-image: linear-gradient(to right bottom, #fff, #fff, #ccd4e9);
  border-radius: 3rem;
}

.right {
  background-image: url(../../assets/svg/signup-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// responsive
@media only screen and (max-width: 567px) {
  .signup {
    background: transparent;
  }
  .container {
    border-radius: 0;
    background: transparent;
    padding: 0;
  }
}
