@font-face {
  font-family: Titillium;
  src: url(../../assets/font/TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Titillium-bold;
  src: url(../../assets/font/TitilliumWeb-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Titillium-light;
  src: url(../../assets/font/TitilliumWeb-Light.ttf) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: Titillium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
}

button:focus,
a:focus {
  outline: none;
}

button,
button:focus,
button:active,
button:hover {
  box-shadow: none !important;
  border-radius: 0 !important;
  outline: none;
}

input {
  border: none !important;
  border-radius: none;
  box-shadow: $box-shadow-light !important;
  &:focus,
  &:active {
    box-shadow: $box-shadow-light !important;
    border: none;
  }
}
