:root {
    // COLORS
    --color-primary: #264b77;
    --color-primary-light: #3c5b75;
    --color-primary-dark: #00243f;
    --color-gray: #a3acb1;

    // FONT SIZE
    --font-xl: 3.5rem;
    --font-lg: 2rem;
    --font-md: 1.5rem;
    --font-sm: 1rem;
}

@font-face {
    font-family: Titillium;
    src: url(../../assets/font/TitilliumWeb-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Titillium-bold;
    src: url(../../assets/font/TitilliumWeb-Bold.ttf) format('truetype');
}
@font-face {
    font-family: Titillium-light;
    src: url(../../assets/font/TitilliumWeb-Light.ttf) format('truetype');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    font-family: Titillium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
}

$primary: #d60e64;
button:focus,
a:focus {
    outline: none;
}
