@font-face {
  font-family: Titillium;
  src: url(../../assets/font/TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Titillium-bold;
  src: url(../../assets/font/TitilliumWeb-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Titillium-light;
  src: url(../../assets/font/TitilliumWeb-Light.ttf) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: Titillium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
}

button:focus,
a:focus {
  outline: none;
}
