.bg-black {
  background-color: #000;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.outline-none,
.outline-none:hover,
.outline-none:active,
.outline-none:focus,
.outline-none:focus-visible {
  outline: none;
}

.shadow-md {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
}

.pointer {
  cursor: pointer;
}

.btn-white,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: var(--color-primary);
  background-color: #fff;
  border-color: currentColor;
}

@media (max-width: 567px) {
  .pr-sm {
    padding-right: 0.5rem;
  }
  .w-on-sm-100 {
    width: 100%;
  }
}
@media (min-width: 567px) {
  .w-sm-50 {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .display-md {
    font-size: 3rem;
  }
  .w-min-md {
    width: 75% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  .w-xl-50 {
    width: 50% !important;
  }
}
@media (max-width: 767px) {
  .w-mx-md-100 {
    width: 100%;
  }
}
